.wrapper {
    width: 100%;
    box-sizing: border-box;
}

.inner {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    padding: 10px 0px;

    .title {
        h2 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            margin: -10px 0 20px;
            color: #555;
            font-size: 14px;
        }
    }
}

.card-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            cursor: pointer;
        }
    }
}

.empty-search {
    text-align: center;
    color: #666;
    margin-top: 20px;
    font-size: 14px;
}